@import '../../styles/_cores.scss';

.container {
    .header {

        display: flex;
        height: 15vh;
        align-items: center;
        background-color: #28262E;
        padding-left: 144px;

        .botaoVoltar {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }

    .corpo {
        display: flex;
        flex-direction: column;
        min-height: 85vh;
        background-color: $backgroundCorpo;
        align-items: center;

        .salvaFoto{
            margin-top: 24px;
            width: 340px;
            height: 56px;
            border: none;
            background: $amarelo;
            border-radius: 10px;
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            text-align: center;
            cursor: pointer;

            /* Background */

            color: $cinzaFonte;
        }

        .divFoto {
            margin-top: -10vh;
            position: relative;

            .imgFoto {
                border-radius: 100px;
            }

            .divCamera {
                cursor: pointer;
                
                position: absolute;
                right: 0;
                bottom: 0;
                background-color: $amarelo;
                width: 48px;
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100px;

                input {

                    position: absolute;
                    height: 48px;
                    width: 48px;
                    background: transparent;
                    opacity: 0;
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                    filter: alpha(opacity=0);
                }
            }

        }

        .divForm {
            margin-top: 32px;
            margin-bottom: 32px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            
            .divInput{
                width: 340px;
                height: 56px;
                background: $backgroundInput;
                border-radius: 10px;
                padding-left: 16px;
                display: flex;
                align-items: center;
              
                input{
                    max-width: 100%;
                    max-height: 100%;
                    margin-left: 8px;
                    padding-left: 8px;
                    background-color: transparent;
                    border: none;
                    color: $brancoFonte;
                    font-family: 'Roboto Slab';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 21px;
                    display: flex;
                    align-items: center;
            
                    &:focus{
                        outline: none;
                    }
                }
                
            }

            h1 {
                font-family: 'Roboto Slab';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 26px;
                color: $brancoFonte;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .inputNomeEmail {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }

                .inputSenha {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }

                .botao {
                    margin-top: 24px;
                    width: 340px;
                    height: 56px;
                    border: none;
                    background: $amarelo;
                    border-radius: 10px;
                    font-family: 'Roboto Slab';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 21px;
                    text-align: center;
                    cursor: pointer;

                    /* Background */

                    color: $cinzaFonte;
                }
            }
        }
    }
}