@import '../../../styles/_cores';

.divInput{
    width: 340px;
    height: 56px;
    background: $backgroundInput;
    border-radius: 10px;
    padding-left: 16px;
    display: flex;
    align-items: center;
  
    input{
        max-width: 100%;
        max-height: 100%;
        margin-left: 8px;
        padding-left: 8px;
        background-color: transparent;
        border: none;
        color: $brancoFonte;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        display: flex;
        align-items: center;

        &:focus{
            outline: none;
        }
    }
    
}