@import '../../styles/_cores.scss';

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    .containerImagem{
        background-image: url("../../public/src/images/ImagemCadastro.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 55%;
        filter: contrast(1.7);
    }
    .containerCadastro{
        background-color: $background;
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        .contentCadastro{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .titleCadastro{
            margin-top: 80px;
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            /* identical to box height */

            text-align: center;

            /* White */

            color: $brancoFonte;
        }
        .inputs{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
       
        .criarConta{
            margin-top: 80px;
            height: 20px;
            display: flex;
            align-items: center;
            gap: 16px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            p{
                font-family: 'Roboto Slab';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;

                /* White */

                color: $brancoFonte;

            }
           
        }

    }
}