
$brancoFonte: #F4EDE8;
$background: #262626;
$backgroundNav: #28262E;
$backgroundCorpo:#312E38;
$backgroundInput: #232129;
$fonteInput: #666360;
$amarelo: #FF9000;
$cinzaFonte: #312E38;
$cinzaFonteClaro: #999591;
$backgroundCard:#3E3B47;